/* container */

.container {
    width: min(100% , 1440px);
    margin:auto;
}

/* header */

header {
    display: flex;
    padding: 52px 98px;
    justify-content: space-between;
    align-items: center;

}


ul{
    display: flex;
    column-gap: 50px;
}


.active,
.noactive{
color: #27187F;
font-family: Ubuntu;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.noactive{
color: #758BFD;
}

.search_container {
    width: 222px;
    border-radius: 10px;
    border: 3px solid #758BFD;
    padding: 8px 12px;
    display: flex;
    justify-content: flex-end;
}
.fa-magnifying-glass{
    font-size: 32px;
    flex-shrink: 0;
    color: #758BFD;
}


/* section */

section {
    background-color: #DDEAF8;
    padding: 115px 98px;
}


h2{
color: #27187F;
font-family: 'Ubuntu', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.card_container {   
    /* width: 100%;  */
    display: flex;
    column-gap: 18px; 
    margin-top: 68px;
    /* justify-content: space-between;   */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 51px;
}

.card {
    width: 400px;
    background-color: #FFFFFF;
    padding: 33px 30px;
    border-radius: 10px;
    background: #FFF;
}
.imamge {
    /* width: calc(100%-60px); */
    width: 100%;
    height: 188px;
    border-radius: 10px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}
.text{
    margin-top: 33px;
    color: #133B3A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* footer */

footer {

    background-color: #758BFD;
    padding: 75px 98px;
    display: flex; 
    justify-content: space-between;
}


.follow {
color: #FFF;
font-family: Century Gothic;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 17px; 
letter-spacing: 0.2px;
}

.icons_container{
display: flex;
column-gap: 20px;
}


.icons{
margin-top: 22px;
color: #FFFFFF;
font-size: 22px;
}


.paying_container {
    display: flex;
    column-gap: 11px;
}